In [1]:
import pandas as pd

In [30]:
df = pd.read_csv("intro_bees.csv")
df

,Program,Year,Period,State,ANSI,Affected by,Pct of Colonies Impacted,state_code
0,SURVEY,2019,JAN THRU MAR,Alabama,1,Disease,1.8,AL
1,SURVEY,2019,JAN THRU MAR,Alabama,1,Other,3.1,AL
2,SURVEY,2019,JAN THRU MAR,Alabama,1,Pesticides,0.3,AL
3,SURVEY,2019,JAN THRU MAR,Alabama,1,Pests_excl_Varroa,22.7,AL
4,SURVEY,2019,JAN THRU MAR,Alabama,1,Unknown,9.0,AL
...,...,...,...,...,...,...,...,...
4585,SURVEY,2015,OCT THRU DEC,Wyoming,56,Other,11.3,WY
4586,SURVEY,2015,OCT THRU DEC,Wyoming,56,Pesticides,10.5,WY
4587,SURVEY,2015,OCT THRU DEC,Wyoming,56,Pests_excl_Varroa,3.3,WY
4588,SURVEY,2015,OCT THRU DEC,Wyoming,56,Unknown,3.9,WY
4589,SURVEY,2015,OCT THRU DEC,Wyoming,56,Varroa_mites,45.0,WY

In [31]:
df = df.groupby(["State", "ANSI", "Affected by", "Year", "state_code"])[['Pct of Colonies Impacted']].mean()
df.reset_index(inplace=True)

In [32]:
df.Year.unique()

array([2015, 2016, 2017, 2018, 2019], dtype=int64)

In [44]:
df[(df["Affected by"]=="Varroa_mites") & (df["Year"] == 2015)]

,State,ANSI,Affected by,Year,state_code,Pct of Colonies Impacted
25,Alabama,1,Varroa_mites,2015,AL,23.225
55,Arizona,4,Varroa_mites,2015,AZ,34.725
85,Arkansas,5,Varroa_mites,2015,AR,47.700
115,California,6,Varroa_mites,2015,CA,38.200
145,Colorado,8,Varroa_mites,2015,CO,37.825
175,Connecticut,9,Varroa_mites,2015,CT,15.625
205,Florida,12,Varroa_mites,2015,FL,33.325
235,Georgia,13,Varroa_mites,2015,GA,37.525
265,Hawaii,15,Varroa_mites,2015,HI,52.000
295,Idaho,16,Varroa_mites,2015,ID,37.750
325,Illinois,17,Varroa_mites,2015,IL,9.925
355,Indiana,18,Varroa_mites,2015,IN,16.225
385,Iowa,19,Varroa_mites,2015,IA,29.575
415,Kansas,20,Varroa_mites,2015,KS,28.525
445,Kentucky,21,Varroa_mites,2015,KY,23.775
475,Louisiana,22,Varroa_mites,2015,LA,22.600
505,Maine,23,Varroa_mites,2015,ME,26.100
535,Maryland,24,Varroa_mites,2015,MD,11.875
565,Massachusetts,25,Varroa_mites,2015,MA,34.500
595,Michigan,26,Varroa_mites,2015,MI,29.000
625,Minnesota,27,Varroa_mites,2015,MN,25.925
655,Mississippi,28,Varroa_mites,2015,MS,18.900
685,Missouri,29,Varroa_mites,2015,MO,8.025
715,Montana,30,Varroa_mites,2015,MT,26.425
745,Nebraska,31,Varroa_mites,2015,NE,15.275
775,New Jersey,34,Varroa_mites,2015,NJ,26.875
805,New Mexico,35,Varroa_mites,2015,NM,37.000
835,New York,36,Varroa_mites,2015,NY,22.800
865,North Carolina,37,Varroa_mites,2015,NC,32.500
895,North Dakota,38,Varroa_mites,2015,ND,15.450
925,Ohio,39,Varroa_mites,2015,OH,23.375
955,Oklahoma,40,Varroa_mites,2015,OK,21.250
985,Oregon,41,Varroa_mites,2015,OR,32.975
1015,Pennsylvania,42,Varroa_mites,2015,PA,29.200
1045,South Carolina,45,Varroa_mites,2015,SC,28.250
1075,South Dakota,46,Varroa_mites,2015,SD,12.450
1105,Tennessee,47,Varroa_mites,2015,TN,41.100
1135,Texas,48,Varroa_mites,2015,TX,23.100
1165,Utah,49,Varroa_mites,2015,UT,39.175
1195,Vermont,50,Varroa_mites,2015,VT,21.450
1225,Virginia,51,Varroa_mites,2015,VA,25.125
1255,Washington,53,Varroa_mites,2015,WA,30.675
1285,West Virginia,54,Varroa_mites,2015,WV,18.525
1315,Wisconsin,55,Varroa_mites,2015,WI,37.700
1345,Wyoming,56,Varroa_mites,2015,WY,23.375

In [45]:
population_data = {'State': ['Maharashtra', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'West Bengal'],
                   'Population': [112374333, 61130704, 199812341, 104099452, 91276115]}

population_df = pd.DataFrame(population_data)